<!DOCTYPE html>
<html lang="en">
<head>


  
  {{template "_header" .}}

</head>

<body class="body-wrapper">


<nav class="navbar main-nav fixed-top navbar-expand-lg large">
  	<div class="container">
      <!-- <a class="navbar-brand" href="homepage.html"><img src="/assets/pub_assets/images/logo.png" alt="logo"></a> -->
	  <a style="color:#007bff">Joran Investama</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="www.google.com">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="www.facebook.com">Jadi Member</a>
        </li>
		{{if eq .data.userFirstName ""}}
		<li class="nav-item">
			<a class="nav-link btn-login" href="/login">Login </a>
		</li>
		{{else}}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{.data.userFirstName}} 
				<i class="ti-user" style="color: rgb(69, 111, 240)"></i>
				<i class="ti-angle-down" style="color: rgb(69, 111, 240)"></i>
			</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="#">Profile Saya</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="/logout">Logout</a>
			</div>
		  </li>
		{{end}}
      </ul>
  	</div>
</nav>


<section class="section bg-shape">
	<div class="container">
		<div class="row" style="padding-top: 50px;">
			<div class="col-lg-6 col-md-6 m-md-auto align-self-center ml-auto">
				<div class="section-subtitle mb-4">
					<strong class="mb-3">Ambil Keputusan Investasi & Trading Lebih Cepat / Mudah</strong>
					<p class="mt-2">Mulai dari 2,000 / hari, bisa akses sepuasnya tanpa batas.
						Temukan Rekomendasi, riset dan analisa saham pilihan dari berbagai analis teknikal dan fundamental berpengalaman di Pasar Modal
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center text-center">
				<div class="image-block">
					<h1>Image</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section bg-2" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center text-center">
				<!-- Image Content -->
				<div class="image-block">
					<h1>Image</h1>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">
				<div class="section-subtitle mb-4">
					<strong class="mb-4">Solusi Belajar Trading & Investasi</strong>
					<p class="mt-2">
						Temukan berbagai kelas dan webbinar <i>online</i> untuk meningkatkan kemampuan trading, investasi dan financial planing dari mentor-mentor terbaik
					</p>
					<div class="action-button mt-3">
						<a href="" class="btn btn-main-rounded">Cek Sekarang</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section promo-video bg-3 overlay">
	<div class="container">
		<div class="row">
			<div class="col-12">
			</div>
		</div>
	</div>
</section>

<!--====  End of Promo Video  ====-->

<!--===================================
=            Pricing Table            =
====================================-->

<section class="pricing section bg-2">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-subtitle mb-5 text-center">
					<strong class="mb-4">Tentukan Pilihan yang paling nyaman sesuai kantong kamu</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 m-md-auto">
				<div class="pricing-table text-center">	
					<div class="title mb-0">	
						<h5>12 Bulan</h5>
					</div>
					<ul class="feature-list">
						<li>Hemat Rp 360.000</li>
					</ul>
					<div class="price">	
						<p>69.000<span>/bulan</span></p>
					</div>
					<div class="">
						<a href="" class="btn btn-main-rounded">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 m-md-auto">
				<div class="pricing-table text-center">	
					<div class="title mb-0">	
						<h5>6 Bulan</h5>
					</div>
					<ul class="feature-list">
						<li>Hemat Rp 120.000</li>
					</ul>
					<div class="price">	
						<p>79.000<span>/bulan</span></p>
					</div>
					<div class="">
						<a href="" class="btn btn-main-rounded">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 m-md-auto">
				<div class="pricing-table text-center">	
					<div class="title mb-0">	
						<h5>3 Bulan</h5>
					</div>
					<ul class="feature-list">
						<li>Hemat Rp 30.000</li>
					</ul>
					<div class="price">	
						<p>89.000<span>/bulan</span></p>
					</div>
					<div class="">
						<a href="" class="btn btn-main-rounded">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 m-md-auto">
				<div class="pricing-table text-center">	
					<div class="title mb-0">	
						<h5>1 Bulan</h5>
					</div>
					<ul class="feature-list">
						<li>&nbsp;</li>
					</ul>
					<div class="price">	
						<p>99.000<span>/bulan</span></p>
					</div>
					<div class="">
						<a href="" class="btn btn-main-rounded">Beli Sekarang</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section testimonial bg-shape pt-5 pb-6">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-1">
					<h2>Apa Cerita Mereka...</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="p-4 bg-primary-color">
					<strong class="d-block text-white">Paten Kali</strong>
					<p class="font-italic mb-4 text-white">Joran Investama nih bukan kaleng-kaleng.</p>
					<h6 class="pb-0 mb-0 font-weight-bold">Mark Zuckerberg</h6>
					<p class="text-white">CEO - Facebook</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="p-4 bg-primary-color">
					<strong class="d-block text-white">Paten Kali</strong>
					<p class="font-italic mb-4 text-white">Joran Investama nih bukan kaleng-kaleng.</p>
					<h6 class="pb-0 mb-0 font-weight-bold">Mark Zuckerberg</h6>
					<p class="text-white">CEO - Facebook</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="p-4 bg-primary-color">
					<strong class="d-block text-white">Paten Kali</strong>
					<p class="font-italic mb-4 text-white">Joran Investama nih bukan kaleng-kaleng.</p>
					<h6 class="pb-0 mb-0 font-weight-bold">Mark Zuckerberg</h6>
					<p class="text-white">CEO - Facebook</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-main pb-4">
  	<div class="container">
		<div class="row">
		<div class="col-lg-6 mr-auto">
			<div class="footer-logo">
				<p class="text-white">PT. RISAMBESSY KONSULTINDO MANDIRI</p>
				<p class="text-white">Jl. Tenggilis Timur Dalam 3th Floor, Tenggilis Mejoyo</p>
				<p class="text-white mb-1">Surabaya 60292</p>

				<p class="text-white">www.rkmconsulting.com</p>
				<ul class="social-icons list-inline mt-3">
					<li class="list-inline-item">
						<a target="_blank" href="https://facebook.com/themefisher"><i class="text-primary ti-facebook"></i></a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://twitter.com/themefisher"><i class="text-primary ti-twitter-alt"></i></a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://github.com/themefisher"><i class="text-primary ti-linkedin"></i></a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://instagram.com/themefisher"><i class="text-primary ti-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 pull-right">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-5">
					<p class="text-white">JORANVEST</p>
					<p class="text-white">Blog </p>
					<p class="text-white">Webiner & Kelas Online</p>
					<p class="text-white">Jadi Member</p>
					<p class="text-white">Karir</p>
					<p class="text-white">Partnership</p>
				</div>
				<div class="col-md-5">
					<p class="text-white">BANTUAN & PANDUAN</p>
					<p class="text-white">Syarat & Ketentuan</p>
					<p class="text-white">kebijakan & Privasi</p>
					<p class="text-white">Disclaimer</p>
					<p class="text-white">Hubungi Kami</p>
				</div>
			</div>
			<!-- Footer Links -->
			
		</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="copyright">
					<p>copyright @2021 PT. Risambessy Konsultindo mandoro</p>
				</div>
			</div>
		</div>
  	</div>
</footer>


  <!-- JAVASCRIPTS -->
  
 
{{template "_baseScript" .}}
</body>

</html>