{{define "_baseScript"}}
<!-- -->
<!-- Bootstrap core JavaScript-->
<!--  -->
<!-- Core plugin JavaScript-->
<!--  -->
<!-- Custom scripts for all pages-->
<!-- 
<script src="/assets/datatables/DataTables-1.10.24/js/jquery.dataTables.min.js"></script>
<script src="/assets/datatables/DataTables-1.10.24/js/dataTables.responsive.min.js"></script>

<script src="/assets/plugins/handlebars/handlebars-4.1.1.js"></script>
<script src="/assets/plugins/select2/js/select2.min.js"></script> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script> -->
<!-- 
<script src="/assets/pub_assets/plugins/jquery/jquery.js"></script>
<script src="/assets/pub_assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/assets/pub_assets/plugins/slick/slick.min.js"></script>
<script src="/assets/pub_assets/js/custom.js"></script> -->

<script src="/assets/sbadmin/jquery.js"></script>
<script src="/assets/pub_assets/plugins/jquery/jquery.js"></script>
<script src="/assets/pub_assets/plugins/slick/slick.min.js"></script>
<script src="/assets/pub_assets/js/custom.js"></script>

<script src="/assets/plugins/notifications/sweetalert2/sweetalert2.bundle.js"></script>
<script src="/assets/plugins/notifications/toastr/toastr.js"></script>

<script src="/assets/plugins/jquery.validation/jquery.validate.min.js"></script>

<script src="/assets/plugins/serializeToJSON/jquery.serializeToJSON.min.js"></script>
<script src="/assets/plugins/Inputmask-5.x/js/jquery.inputmask.js"></script>
<script src="/assets/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="/assets/core.js"></script>

<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", $('meta[name=x-token]').attr("content"));
        }
    });

    var $btnLogin = $(".btn-login");
    var $modalLogin = $("#modal-login");
    $btnLogin.on('click', function () {
        $modalLogin.modal("show");
    });

    // $(".numeric-money").inputmask({
    //     digits: 2,
    //     greedy: true,
    //     definitions: {
    //         '*': {
    //             validator: "[0-9]"
    //         }
    //     },
    //     rightAlign: false
    // });
    // $(".numeric").inputmask({
    //     digits: 0,
    //     greedy: true,
    //     definitions: {
    //         '*': {
    //             validator: "[0-9]"
    //         }
    //     },
    //     rightAlign: false
    // });
</script>
<!-- Page level plugins -->
<!-- <script src="assets/sbadmin/vendor/chart.js/Chart.min.js"></script> -->

<!-- Page level custom scripts -->
<!-- <script src="assets/sbadmin/js/demo/chart-area-demo.js"></script> -->
<!-- <script src="assets/sbadmin/js/demo/chart-pie-demo.js"></script> -->
{{end}}