{{define "_content"}}

<div class="container-fluid text-dark">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pb-2">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Emiten</li>
        </ol>
    </nav>  

    <div class="modal fade" id="modal-addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah {{.data.title}} Baru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning no-radius p-2" role="alert">
                        <span class="text-danger">*</span> <span style="font-size: 14px;">Wajib diisi dan tidak boleh kosong.</span>
                    </div>
                    <form id="form-basic" class="needs-validation" novalidate>
                        <input type="text" name="id" id="recordId" class="d-none" />
                        <div class="form-group mb-2">
                            <label class="mb-1">Nama Emiten<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="emiten_name" required>
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-1">Kode Emiten <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="emiten_code" required>
                        </div>
                        <div class="form-group mb-1">
                            <label class="mb-1 input-title">Kategori <span class="text-danger">*</span></label>
                            <select class="form-control" id="emiten_category_id" name="emiten_category_id" required>
                            </select>                                       
                            <small class="invalid-feedback form-text font-weight-normal text-danger" style="font-weight: 500 !important;">Kategori tidak boleh kosong.</small>
                        </div>    
                        <div class="form-group mb-1">
                            <label class="mb-1 input-title">Sektor <span class="text-danger">*</span></label>
                            <select class="form-control" id="sector_id" name="sector_id" required>
                            </select>                                       
                            <small class="invalid-feedback form-text font-weight-normal text-danger" style="font-weight: 500 !important;">Sektor tidak boleh kosong.</small>
                        </div>     
                        <div class="form-group mb-2">
                            <label class="mb-1">Keterangan</label>
                            <input type="text" class="form-control" name="description">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save">Simpan</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Daftar</h6>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-sm" id="btn-addNew"
                        style="min-width: 150px;">Tambah Baru</button>
                    <div class="mt-4">
                        <span class="font-weight-bold text-primary h5 mb-0">{{.data.subheader}}</span>
                        <hr class="mt-2 mb-3" />
                        <table id="dtBasic" class="display nowrap w-100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nama Emiten</th>
                                    <th>Kode</th>
                                    <th>Kategori</th>
                                    <th>Sektor</th>
                                    <th>Keterangan</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "_baseScript" .}}
<script src="/script/admin/emiten/emiten.index.js?t={{.data.timenow}}"></script>
{{end}}