{{define "_header"}}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="hostName" content="{{.data.hostName}}">
    <meta name="author" content="">
    <meta name="x-token" content="{{.data.token}}">

    <title>{{.data.title}} - Joranvest</title>

    <link href="/assets/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/sbadmin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/datatables/DataTables-1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/datatables/DataTables-1.10.24/css/responsive.dataTables.min.css" rel="stylesheet"
        type="text/css">
    <link href="/assets/plugins/notifications/sweetalert2/sweetalert2.bundle.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/notifications/toastr/toastr.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/datepicker/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/dropzone/dropzone.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">

    <style>
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .swal2-title {
            margin-bottom: 0.5em;
        }

        .swal2-actions {
            margin-top: 0.5em;
        }
    </style>
</head>
{{end}}