{{define "_content"}}

<div class="container-fluid text-dark">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-sm" id="btn-newOrder"
                        style="min-width: 150px;">Buat Order</button>
                    <hr />
                    <div class="card mb-2 no-radius"> <!-- d-none d-md-block  -->
                        <div class="card-header no-radius font-weight-bold">
                            Pencarian
                        </div>
                        <div class="card-body pt-2 pb-2">
                            <form id="form-filter">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 col-lg-3 col-xl-2 col-form-label pt-sm-1 pb-sm-0">Status Pesanan</label>
                                    <div class="col-md-7 col-lg-9 col-xl-10">
                                        <select class="form-control" data-field="order_status" id="filter-order-status">
                                            <option value="-1">Semua</option>
                                            <option value="2" selected="">Sedang diproses</option>
                                            <option value="3">Batal</option>
                                            <option value="200">Selesai</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-lg-1 mb-sm-1">
                                    <label class="col-md-5 col-lg-3 col-xl-2 col-form-label pt-sm-1 pb-sm-0">Status Pembayaran</label>
                                    <div class="col-md-7 col-lg-9 col-xl-10">
                                        <select class="form-control" data-field="payment_status" id="filter-payment-status">
                                            <option value="-1">Semua</option>
                                            <option value="2">Belum Lunas</option>
                                            <option value="200">Lunas</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row mb-lg-1 mb-sm-1">
                                    <label class="col-md-5 col-lg-3 col-xl-2 col-form-label pt-sm-1 pb-sm-0"></label>
                                    <div class="col-md-7 col-lg-9 col-xl-10">
                                        <button type="button" class="btn btn-primary no-radius" id="btn-filter" style="min-width: 100px;">Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="mt-4">
                        <span class="font-weight-bold text-primary h5 mb-0">{{.data.subheader}}</span>
                        <hr class="mt-2 mb-3" />
                        <table id="dtBasic" class="display nowrap w-100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nomor<br />Pesanan</th>
                                    <th>Status<br />Pesanan</th>
                                    <th>Status<br />Pembayaran</th>
                                    <th>Pelanggan</th>
                                    <th>No Hp</th>
                                    <th>Total Harga</th>
                                    <th>Total</th>
                                    <th>Sisa Bayar</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "_baseScript" .}}
<script src="/script/order.index.js?t={{.data.timenow}}"></script>
{{end}}